{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Подтвердите E-mail адрес" %}{% endblock %}


{% block content %}
<h1>{% trans "Подтвердите E-mail адрес" %}</h1>

{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}

<p>{% blocktrans with confirmation.email_address.email as email %}Пожалуйста подтвердите <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>

<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
{% csrf_token %}
    <button type="submit">{% trans 'Подтвердите' %}</button>
</form>

{% else %}

{% url 'account_email' as email_url %}

<p>{% blocktrans %}Эта ссылка не активна. Пожалуйста <a href="{{ email_url }}"> новый запрос на подтверждение</a>.{% endblocktrans %}</p>

{% endif %}

{% endblock %}
