{% extends "account/base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Войти" %}{% endblock %}

{% block content %}
  <main>
    <div class="container">
      <section class="mb-4">
        <div class="row wow fadeIn">
          <div class='col-6 offset-3'>
          <h1>{% trans "Войти" %}</h1>

          {% get_providers as socialaccount_providers %}

          {% if socialaccount_providers %}
          <p>{% blocktrans with site.name as site_name %}Пожалуйста войдите. Или, <a href="{{ signup_url }}">зарегистрируйтесь</a>
          в {{ site_name }} аккаунт и войдите:{% endblocktrans %}</p>

          <div class="socialaccount_ballot">

            <ul class="socialaccount_providers">
              {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </ul>

            <div class="login-or">{% trans 'или' %}</div>

          </div>

          {% include "socialaccount/snippets/login_extra.html" %}

          {% else %}
          <p>{% blocktrans %}Если вы еще не создали аккаунт, то пожалуйста
          <a href="{{ signup_url }}">зарегистрируйтесь</a>.{% endblocktrans %}</p>
          {% endif %}

          <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form|crispy }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="btn btn-primary" type="submit">{% trans "Войти" %}</button>
            <a class="btn btn-link" href="{% url 'account_reset_password' %}">{% trans "Восстановить пароль" %}</a>
<!--          <p>{% blocktrans %}Если вы владелец магазина, -->
<!--            <a href="{{ signup_url }}">авторизируйтесь,</a> как магазин.{% endblocktrans %}</p>-->
            
          </form>
          </div>
        </div>
      </section>
    </div>
  </main>

{% endblock %}
