{% extends "account/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Выйти" %}{% endblock %}

{% block content %}
  <main>
    <div class="container">
      <section class="mb-4">
        <div class="row wow fadeIn">
          <div class='col-6 offset-3'>
            <h1>{% trans "Выйти" %}</h1>
            <p>{% trans 'Вы уверены, что хотите выйти?' %}</p>
            <form method="post" action="{% url 'account_logout' %}">
              {% csrf_token %}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
              {% endif %}
              <button class='btn btn-primary' type="submit">{% trans 'Выйти' %}</button>
            </form>
          </div>
        </div>
      </section>
    </div>
  </main>
{% endblock %}
