{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Восстановить пароль" %}{% endblock %}

{% block content %}
    <h1>{% trans "Восстановить пароль" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}Мы отправим вам e-mail.{% endblocktrans %}</p>
{% endblock %}
