{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Изменить пароль" %}{% endblock %}

{% block content %}
    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Изменить пароль" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}Ссылка не активна <a href="{{ passwd_reset_url }}">сбросить пароль</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" name="action" value="{% trans 'change password' %}"/>
            </form>
        {% else %}
            <p>{% trans 'Ваш пароль изменен' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
