{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Изменить пароль" %}{% endblock %}

{% block content %}
    <h1>{% trans "CИзменить пароль" %}</h1>
    <p>{% trans 'Пароль изменен.' %}</p>
{% endblock %}
