{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Сбросить пароль" %}{% endblock %}

{% block content %}

    <h1>{% trans "Сбросить пароль" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Забыли пароль? Введите почту, и мы вам отправим инструкцию." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Reset My Password' %}" />
    </form>

    <p>{% blocktrans %}Свяжитесь с нами если возникнут проблемы.{% endblocktrans %}</p>
{% endblock %}
