{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Регистрация закрыта" %}{% endblock %}

{% block content %}
<h1>{% trans "Регистрация закрыта" %}</h1>

<p>{% trans "Регистрация закрыта." %}</p>
{% endblock %}
