{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Подтвердите E-mail адрес" %}{% endblock %}

{% block content %}
    <h1>{% trans "Подтвердите E-mail адрес" %}</h1>

    <p>{% blocktrans %}Мы отправили вам на почту инструкции.{% endblocktrans %}</p>

{% endblock %}
