{% extends "base.html" %}

{% block content %}
  <main>
  <!-- {{ object.second_title }} 
     <h4>{{ object.second_title }}</h4> -->
     <body>
       <div class="container">

        <!-- <div class="col-md-6 text-left"> -->

          <h1 class="my-4 h1">
           О компании
           {{ about.fist_title}}
          </h1>
          
        <div class="text-justify">
          <p>
            Лучший маркетплейс на рынке маркетплейсов, которые реализуют автотовары
          
          </p>
          <h1 class="my-4 h1">
            Миссия
           </h1>
          <p>
            Быть лучшими
          </p>

          <h1 class="my-4 h1">
            Контакты
           </h1>
          <p>
            Москва, Стремянный переулок, 36

          </p>
          <p>
            8 (800) 555-35-35
          </p>
        
  
        </div>
  
          
  
        <!-- </div> -->
        <!-- <p>
          <img src="../media_root/about.jpg" alt="Тачка" class="img-thumbnail">
        </p> -->
  


       </div>
      
    </body>

    
  </main>

{% endblock content %}

