{% extends "base.html" %}

{% block content %}

{% load googlecharts %}
<div class="container">
	{% load googlecharts %}


	<h1>Количество покупок в день</h1>

	<div id="count_graph"> Количество покупок в день</div>
	<h1>Прибыль в день</h1>

	<div id="sum_graph">Прибыль в день</div>

	
	{% googlecharts %}
		{% data values "count" %}
			{% col "string" "Date" %}"{{ val|date:"M j" }}"{% endcol %}
			{% col "number" "шт" %}{{ val }}{% endcol %}
		{% enddata %}

		{% data values2 "sum" %}
			{% col "string" "Date" %}"{{ val|date:"M j" }}"{% endcol %}
			{% col "number" "Р" %}{{ val }}{% endcol %}
		{% enddata %}
	
		{% options %}
			kind: "LineChart",
			options: {
				backgroundColor: "#f9f9f9",
				colors: ["#09f"],
				gridlineColor: "#ddd",
				legend: "none",
				vAxis: {minValue: 0},
				chartArea: {left: 40, top: 20, width: 550, height: 440},
				width: 600,
				height: 480
			}
		{% endoptions %}
	
		{% graph "count_graph" "count" %} {# используем опции по умолчанию #}
		{% graph "sum_graph" "sum" %} {# используем опции по умолчанию #}
	{% endgooglecharts %}

	
	</div>
</div>

{% endblock content %}