{% extends "base.html" %}

{% block content %}
  <main>
    <div class="container">
      <form method="post" enctype="multipart/form-data">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Send message">
    </form>

    </div>
       

  </main>

{% endblock content %}