{% extends "base.html" %}

{% block content %}
  <main>
  <!-- {{ object.second_title }} 
     <h4>{{ object.second_title }}</h4> -->
     <body>
      <div class="d-block my-3">

       
        <!-- <a class="nav-link waves-effect" href="{% url 'core:home' %}">
        <span class="clearfix d-none d-sm-inline-block"> Удалить товар </span>
      </a>
      <a class="nav-link waves-effect" href="{% url 'core:home' %}">
        <span class="clearfix d-none d-sm-inline-block"> Изменить товар </span>
      </a> 
      </div> -->

      <div class="container">

       
        <h1 class="text-center">
          
{{ request.user  }}
        </h1>
        

    
        {% if request.user.is_staff %}
        <form>
          <p>Информация о пользователе</p>
          <p><input maxlength="25" size="40" value='{{ request.user.first_name}}'></p>
          <p><input maxlength="25" size="40" value='{{ request.user.last_name}}'></p>
          <p><input maxlength="25" size="40" value='{{ request.user.email}}'></p>
          <p>Информация о компании</p>
          <p><input maxlength="40" size="65" value='{{ data_about }}'></p>
          <p><input maxlength="25" size="40" value='{{ email }}'></p> 

          


         </form>









        
        <h2>
          <p></p>
          
          <p> </p>

        </h2>

        <a class="nav-link waves-effect" href="{% url 'core:itemcreate' %}">
          <span class="btn btn-primary btn-md my-0 p"> Добавить товар </span>
        </a>
        <a class="nav-link waves-effect" href="{% url 'core:business_data' %}">
          <span class="btn btn-primary btn-md my-0 p"> Редактировать информацию </span>
        </a>
        <a class="nav-link waves-effect" href="{% url 'core:analytics' %}">
          <span class="btn btn-primary btn-md my-0 p"> Аналитика </span>
        </a>
        <!-- <a class="nav-link waves-effect" href="{% url 'core:business_data' %}">
          <span class="btn btn-primary btn-md my-0 p"> бизнес-аккаунт </span>
        </a> -->
        <a class="nav-link waves-effect" href="{% url 'api:api_token' %}">
          <span class="btn btn-primary btn-md my-0 p"> получить токен </span>
        </a>
        <a class="nav-link waves-effect" href="{% url 'api:api' %}">
          <span class="btn btn-primary btn-md my-0 p"> api </span>
        </a>

        
        <!--Navbar-->
        
        <!--/.Navbar-->
  
        <!--Section: Products v.3-->
        <section class="text-center mb-4">
  
          <div class="row wow fadeIn">
  
            {% for item in object_list %}
            <div class="col-lg-3 col-md-6 mb-4">
  
              <div class="card">

                
  
                <div class="view overlay">
                  {% comment %} <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg" class="card-img-top"> {% endcomment %}
                  <img src="{{ item.image.url }}" class="card-img-top">
                  <a href="{{ item.get_absolute_url }}">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
  
                <div class="card-body text-center">
                  <!-- <a href="" class="grey-text">
                    <h5>{{ item.get_category_display }}</h5>
                  </a> -->

                  <h5>
                    <strong>
                      <a href="{{ item.get_absolute_url }}" class="dark-grey-text">{{ item.title }}

                      </a>
                    </strong>
                  </h5>
                  
                  <p class="lead">
                    {% if item.discount_price %}
                    <span class="mr-1">
                      <del class="2 text-muted">{{ item.price }}₽</del>
                    </span>
                 <big class=" font-weight-bold">{{ item.discount_price }}₽</big>
                    {% else %}
                    <big class=" font-weight-bold">{{ item.price }}₽</big>
                    {% endif %}
                  </p>
                  <a class="nav-link waves-effect" href="{{ item.get_delete_url }}">
                    <span class="btn btn-primary btn-md my-0 p"> Удалить товар </span>
                  </a>

                  <a class="nav-link waves-effect" href="{{ item.get_update_url }}">
                    <span class="btn btn-primary btn-md my-0 p"> Обновить товар </span>
                  </a>
  
                </div>
  
              </div>
  
            </div>
            {% endfor %}
          </div>
  
        </section>
        {% else %}
        <form>
          <p>Информация о пользователе</p>
          
          <p><input maxlength="25" size="40" value='{{ request.user.first_name}}'></p>
          <p><input maxlength="25" size="40" value='{{ request.user.second_name}}'></p>
          <p><input maxlength="25" size="40" value='{{ request.user.email}}'></p>

         </form>
        <a class="nav-link waves-effect" href="{% url 'core:business_data' %}">
          <span class="btn btn-primary btn-md my-0 p"> бизнес-аккаунт </span>
        </a>
        
        {% endif %}
        <!--Section: Products v.3-->
  
        <!--Pagination-->
  
        {% if is_paginated %}
        <nav class="d-flex justify-content-center wow fadeIn">
          <ul class="pagination pg-blue">
  
            {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Предыдущая</span>
              </a>
            </li>
            {% endif %}
  
            <li class="page-item active">
              <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}
                <span class="sr-only">(current)</span>
              </a>
            </li>
  
            {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Следующая</span>
              </a>
            </li>
            {% endif %}
          </ul>
        </nav>
        {% endif %}

  
      </div>
      
      
    </body>

    
  </main>

{% endblock content %}

