{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <main>
  <!-- {{ object.second_title }} 
     <h4>{{ object.second_title }}</h4> -->
     <body>
      <div class="col-md-6 text-left">
       
<!-- <form method="post" class="card-body">
  {% csrf_token %}
  <div class="col-lg-4 col-md-6 mb-4">
    <input type='text' placeholder='Ваше имя' id='first_name' name='first_name' class='form-control' />
   
  </div>

  <div class="col-lg-4 col-md-6 mb-4">
 
    <input type='text' placeholder='Ваша фамилия' id='last_name' name='last_name' class='form-control' />
  
  </div>
  <div class="col-lg-4 col-md-6 mb-4">

    <input type='text' placeholder='Ваша почта' id='email' name='email' class='form-control' />
  
  </div>
  <div class="col-lg-4 col-md-6 mb-4">

    <input type='text' placeholder='Ваш вопрос' id='message' name='message' class='form-control' />
  
  </div>

  <input type="submit">
</form> -->
        

<form method="POST">
  {% csrf_token %}
 
    {{ form.first_name }}
    {{ form.last_name }}
    {{ form.email }}
    {{ form.message }}

    <input type="submit">
</form>



</body>

    
</main>

{% endblock content %}