{% extends "base.html" %}

{% block content %}
  <main>
    <div class="container mt-2 pt-2">


      <form method="post">{% csrf_token %}
        <p>Вы уверены что хотите удалить "{{ object }}"?</p>
            <input type="submit" class="btn btn-primary" value="Да">
            <input type="button" class="btn btn-primary" href="{% url 'core:cabinet' %}" value="Нет">
            <!-- <span class="btn btn-primary btn-md my-0 p"> Нет </span> -->
    </form>

    

    </div>
    

  </main>

{% endblock content %}