
<footer class="page-footer text-center font-small primary mt-10  ">
<div class="container">

  <section class="mt-5 pt-4">
    <p>
      <a href="{% url 'core:about' %}"> О компании </a>
    </p>
    
    <p>
      <a href="{% url 'core:contact' %}"> Поддержка </a>
    </p>
    

  </section>
</div>
    <!--<hr class="my-4">-->
  
    <!-- Social icons -->
    <!-- <div class="pb-4">
      <a href="https://new.rea.ru/#0" target="_blank">
        <i class="fab fa-facebook-f mr-3"></i>
      </a>

      <a href="https://new.rea.ru/#0" target="_blank">
        <i class="fab fa-twitter mr-3"></i>
      </a>

      <a href="https://new.rea.ru/#0" target="_blank">
        <i class="fab fa-youtube mr-3"></i>
      </a>
      
      <a class="nav-link waves-effect" href="{% url 'account_login' %}">
          <i class="clearfix d-none d-sm-inline-block"> О компании </i>
      </a>
  
    </div>--> 
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2022 Copyright:
      <a href="https://new.rea.ru/#0" target="_blank"> Disimoson & Catyukea </a>
    </div>
    <!--/.Copyright-->

</footer>
