{% extends "base.html" %}

{% block content %}
  <main>
    <div  class="container mt-2 pt-2 "> 
      <form method="post" enctype="multipart/form-data">{% csrf_token %}
        <!-- <input name='{{ form.title }}' class='form-control' />  -->
        <div>
          {{ form.title }}
        </div>

        <div>
          {{ form.price }}
        </div>
       
        <div>
          {{ form.discount_price }}
        </div>
        <div>

          {{ form.categories }}
        </div>
        <div>
          {{ form.slug }}
        </div>
        <div>
          
          {{ form.image }}
          Иконка товара*
        </div>
        <div>
          
          {{ form.image_background }}
          Изображение товара*
        </div>
        <div>
          {{ form.attributes }}
        </div>
        <div>
          {{ form.quantity }}
        </div>
        
        
       

        


        <!-- {{ form.as_p }} -->
        <input type="submit" class="btn btn-primary" value="Создать товар">
    </form>

    </div>
       
 

  </main>

{% endblock content %}
