{% extends "base.html" %}

{% block content %}

  <main>
    <div class="container dark-grey-text mt-5">
      <h1 >{{ object.title }}<h1>
      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <img src="{{ object.image_background.url }}" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4 mt-5 pt-4">

          <!--Content-->
          
          <a  class="dark-grey-text">

   

            <p class="lead">
              {% if object.discount_price %}
              <span class="mr-1">
                <del class="2 text-muted">{{ object.price }}₽</del>
              </span>
           <big class=" font-weight-bold">{{ object.discount_price }}₽</big>
              {% else %}
              <big class=" font-weight-bold">{{ object.price }}₽</big>
              {% endif %}
            </p>

            <p class="lead">Категория: {{ object.get_category_display }}</p>

            <p class="lead">Продавец: {{ object.get_saler_display }}</p>

            {% comment %} <form class="d-flex justify-content-left">
              <!-- Default input -->
              <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">
              <button class="btn btn-primary btn-md my-0 p" type="submit">
                В корзину
                <i class="fas fa-shopping-cart ml-1"></i>
              </button>

            </form> {% endcomment %}
            <a href="{{ object.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p">
              В корзину
              <i class="fas fa-shopping-cart ml-1"></i>
            </a>
            <!-- <a href="{{ object.get_remove_from_cart_url }}" class="btn btn-danger btn-md my-0 p">
              Удалить из корзины
            </a> -->

          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>

      <!--Grid row-->
      <div class="row d-flex justify-content-center wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 text-center">

          <h4 class="my-4 h4">Информация</h4>

          <div class="text-justify">
            <p>{{ object.attributes }}</p>
          </div>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <!--Grid row-->
      <!--<div class="row wow fadeIn">-->

        <!--Grid column-->
        <!--<div class="col-lg-4 col-md-12 mb-4">

          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/11.jpg" class="img-fluid" alt="">

        </div>-->
        <!--Grid column-->

        <!--Grid column-->
        <!--<div class="col-lg-4 col-md-6 mb-4">

          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/12.jpg" class="img-fluid" alt="">

        </div>-->
        <!--Grid column-->

        <!--Grid column-->
        <!--<div class="col-lg-4 col-md-6 mb-4">

          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg" class="img-fluid" alt="">

        </div>-->
        <!--Grid column-->

      <!--</div>-->
      <!--Grid row-->

    </div>
  </main>

{% endblock content %}
