{% extends "base.html" %}

{% block content %}
  <main>
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Update">
        </form>

  </main>

{% endblock content %}